.left {
    float: left;
}
.right {
    float: right;
}

/* --------------------header-----------------------*/
#header{
    width: 100%;
    height: 745px;
    position: relative;
}
#logo{
    position: absolute;
    top: 0px;
    left: 200px;
}
#menu-content{
    position: absolute;
    top: 0px;
    right: 0px;
}
#banner{
	position: absolute;
	top: 150px;
	left: 20px;
}
#header .carousel-caption{
	color: white;
	background: none;
}
#menu{
    background-color: white !important;
    height: 80px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
#main-menu{
    position: relative;
}
.list-menu{
    height: 80px;
}

.menu-main-title{
    float: left;
    font-size: 14px;
    margin-top:20px;
    text-transform: uppercase;
}
.menu-main-title-call-center {
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-top: 1px;
    text-transform: uppercase;
    width: 125px;
	text-align:center;
}
.menu-main-title-call-center b{
    font-weight: normal !important;
    font-size: 18px;
    opacity: 0.8;
}
.menu-main-name{
    border-left: 1px solid #C5C5C5;
	padding:10px 17px !important;
}
.dropdown, .menu-main-name{
    float: left;
    height: 60px;
    color: rgb(89,135,105) !important;

}

.navbar .nav > li a:hover{
    background-color: rgb(0,176,240) !important;
    color: white !important;
}
.navbar .nav > li .active,.navbar .nav > li .active:hover{
    background-color: rgb(0,176,240);
    height: 60px;
    color: white !important;
}

.dropdown-small-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}

.dropdown-small-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 20px;
    top: 100%;
    z-index: 1000;
}
.menu-small{
	position: absolute;
	top: 60px;
	right: 0px;
	display: none;
}

#pitch{
    position: absolute;
    left: 0px;
    top: 250px;
    margin-left: 0px !important;
}

#pitch ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#pitch li {
    background: none repeat scroll 0 0 black;
    height: 58px;
    margin-bottom: -1px;
    opacity: 0.6;
    margin-left: 0px;
}
#pitch a {
    color: white;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 15px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}
#pitch a:hover, #pitch a:active {
    color: white;
    background: none repeat scroll 0 0 black;
    text-decoration: none;
    float: left;
}
.search-text{
    height: 30px !important;
    background-color: white;
    z-index: 9999999999;
    border-radius: 0 0 0 0 !important;
}


.rotateTitle{
    height: 100%;
    color: white;
    font-size: 60px;
    font-weight: bold;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
div.center, p.center, img.center, a.center , span.center {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}
.logo-images {
    background-image: url("../img/visual assets.png");
    background-position: 0 2px;
    display: inline-block;
    height: 80px;
    width: 265px;
    opacity: 1;
}

.search-images {
    background-image: url("../img/visual assets.png");
    background-position: 6px 335px;
    display: inline-block;
    height: 38px;
    opacity: 1;
    width: 50px;
    margin-top: 10px !important;
}
.li-search-box{
	position: relative;
}
.search-box {
    background-color: white;
    display: none;
    position: absolute;
    right: 15px;
    top: 92px;
    z-index: 99999999999999;
}
.search-box-follow {
    background-color: white;
    display: none;
    height: 50px;
    opacity: 0.5;
    padding: 10px 15px 5px;
    position: absolute;
    right: 0;
    top: 80px;
}
.search-box form{
    margin:0px;
}

/* --------------------------PEOPLE-------------------------*/
#people{
    padding: 40px 0;
    background: rgb(0,176,240);
    position: relative;
}
#people .thumbnail{
    border: none;
    box-shadow: none;
}
#people .thumbnail p{
    padding-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
#people .title-block{
    position: absolute;
    left: -10px;
    top: 40px;
}
#myCarousel{
    position: relative;
}
.carousel-control-customize-left{
    left: 0px;
    position: absolute;
    top: 40%;
    width: 70px;
    height: 40px;
}

.carousel-control-customize-right {
    left: auto;
    right: 0px;
    position: absolute;
    top: 40%;
    width: 70px;
    height: 40px;
}

.carousel-narrow-left {
    background-image: url("../img/visual assets.png");
    background-position: -32px 711px;
    display: inline-block;
    height: 55px;
    width: 50px;
}
.carousel-narrow-right{
    background-image: url("../img/visual assets.png");
    background-position: 28px 711px;
    display: inline-block;
    height: 50px;
    width: 66px;
}
#people .carousel,#people .thumbnails > li{
    /*margin-bottom: 0px;*/
}
#people .img-circle{
    border: 4px solid white;
}

/* --------------------------LIVE-------------------------*/
#live{
    padding: 40px 0;
    background: rgb(0,153,169);
    position: relative;
    color: white;
}
.title-block-live{
    float: left; 
}
.live-border{
    border-left: 1px solid #007b89;
    border-right:1px solid #007b89;
}
#live .title-block{
    position: absolute;
    left: -25px;
    top: 60px;
}
.flood-image {
    background-image: url("../img/visual assets.png");
    background-position: 30px 236px;
    display: inline-block;
    height: 34px;
    width: 70px;
}

.dam-image {
    background-image: url("../img/visual assets.png");
    background-position: -31px 236px;
    display: inline-block;
    height: 32px;
    width: 67px;
}


.news-image {
    background-image: url("../img/visual assets.png");
    background-position: -92px 236px;
    display: inline-block;
    height: 34px;
    width: 56px;
}

#live .title-live{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}
.live-description{
    padding-bottom: 20px;
}
.live-description-customize{
    width: 100%;
}
.live-description,.live-content{
    float:left !important;
    width: 100% !important;
}
.live-content{
    padding-bottom: 10px;
}
.live-content-left{
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.live-content-right,.live-content-right-customize{
    font-weight: bold;
}
.live-content-right{
      font-size: 24px;
}
.live-content-right-customize{
    font-size: 14px;
}

.live-news-update-button,.live-media-button,.live-alerts-button{
    float: left;
    height: 19px;
    width: 42px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
.live-news-update-button {
    background: none repeat scroll 0 0 #598769;
    padding: 0 10px;
}
.live-media-button {
    background: none repeat scroll 0 0 rgb(0,176,240);
    padding: 0 10px;
}
.live-alerts-button {
    background: none repeat scroll 0 0 #E64D1F;
    padding: 0 10px;
}

.live-content-new{
    width: 100%;
}
.live-content-news{
    padding-top: 10px;
}
.news-update-date,.news-update-information{
    font-size: 14px;
}
.news-update-information{
    font-weight: bold;
}


.live-btn-more-text {
    background: none repeat scroll 0 0 #006C8D;
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    height: 56px;
    padding: 12px 30px;
    text-align: center;
    width: 214px;
}

.live-main-content {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

/* --------------------------PLAY BLOCK-------------------------*/
#play{
    padding: 40px 0;
    background: #cccccc;
    position: relative;
    color: black;
}
#play .title-block{
    position: absolute;
    left: -34px;
    top: 70px;
}
#play .thumbnail{
    border: none;
    box-shadow: none;
}
#play .thumbnail p{
    padding-top: 20px;
    font-size: 14px;
}
.btn-more-detail-hp{
    height: 34px;
    width: 124px;
    background: none repeat scroll 0 0 #00B0F0;
    float: right;
    color: white;
    text-align: center;
}
.btn-more-text-hp{
    float: left;
    padding: 7px 14px;
}
#play .rotateTitle{
    color: #00B0F0;
}


/* --------------------------WORK BLOCK-------------------------*/
#work{
    padding: 40px 0;
    background: white;
    position: relative;
    color: rgb(102,102,102);
}
#work .title-block{
    position: absolute;
    left: -50px;
    top: 80px;
}
#work .rotateTitle{
    color: rgb(102,102,102);
}
.work-title{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.work-content{
    padding-bottom: 20px;
}



