
/* --------------------header-----------------------*/
#header{
    background: url("../img/banner1.jpg")  no-repeat scroll center center / cover  transparent;
    width: 100%;
    height: 745px;
}

#menu{
    background: white;
    padding: 5px 0;
    opacity: 0.8;
}

#pitch{
    padding-top: 100px;
}

#pitch li{
    background: none repeat scroll 0 0 white;
    margin-bottom: 10px;
    opacity: 0.6;
}


.rotateTitle{
    height: 100%;
    color: white;
    font-size: 50px;
    font-weight: bold;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.title-block{
    position: absolute;
    left: 0;
    top: 40px;
}

/* --------------------------PEOPLE-------------------------*/
#people{
    padding-top: 20px;
    background: rgb(0,176,240);
    position: relative;
}
#people .thumbnail{
    border: none;
    box-shadow: none;
}
#people .thumbnail p{
    padding-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}


/* --------------------------LIVE-------------------------*/
#live{
    padding-top: 20px;
    background: rgb(89,135,105);
    position: relative;
    color: white;
}
.flood-image {
    background-image: url("../img/visual assets.png");
    background-position: 30px 236px;
    display: inline-block;
    height: 40px;
    width: 70px;
}
#live .title-live{
    color: white;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}
.live-description{
    padding-bottom: 20px;
}
.live-description,.live-content{
    float:left;
    width: 100%;
}
.live-content-left{
    text-align: right;
    text-transform: uppercase;
    font: 14px;
}
.live-content-right{
      font-size: 24px;
    font-weight: bold;
}
