#main-content{
    padding: 40px 0;
    position: relative;
}
#user-login-form .form-actions {
    background: none;
    border: none;
    margin: 0px;
    padding: 5px 20px 20px;
}
#main .tabs{
    padding-bottom: 20px;
    float: left;
    width: 100%;
}
.feed-icon{
    float: left;
    width: 100%;
}

.region-sidebar-second-affix{
    padding-top:20px;
}

.region-content{
    float: left;
}

.btn-news-customize{
    color: white !important;
}
#sidebar-second .news-update-date{
    color:#999999;font-size:13px;font-style:italic;
}
/* -------------------- start style for comment-----------------------*/
#comments{
	margin-top: 100px;
	float: left;
	width: 100%;
}
#comments > h2{
	font-size: 20px;
}
/* -------------------- end style for comment-----------------------*/


/* -------------------- start style for taxonomy news -----------------------*/

.term-listing-heading{
    float: left;
}
.region-sidebar-second-affix, .region-sidebar-second-affix .block{
    float: left;
    width: 100%;
}

.ds-1col{
    border-bottom:1px solid #CCCCCC;
    padding-bottom:30px;
}
.field-item > img{
    width:300px;
    padding-right:20px;
}
.btn-more-detail-hp a{
    float: left;
    padding: 7px 14px;
    color: white;
    text-align: center;
    text-transform : uppercase;
    text-decoration: none;
}
.filed-images-style-customize{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
#content .field-name-title h2{
    line-height: 30px;
    font-size: 22px;
}
#content .field-name-title a{
    text-decoration: none;
}
/* -------------------- news style for taxonomy news -----------------------*/


/* -------------------- start style for block-----------------------*/
#sidebar-second .content{
    float: left;
    width: 100%;
}
.show-update-news-sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.news-update-sidebar a, .news-update-sidebar a:hover, .news-update-sidebar a:active{
    text-decoration: none;
    color: #7AA37B !important;
}

#sidebar-second .block{
    border-bottom: 1px solid #C5C5C5;
    float: left;
    width: 100%;
    padding: 10px;
}
#sidebar-second .live-content-news{
    margin-left: 0 !important;
    padding-bottom: 10px;
    padding-right: 10px;
}

#sidebar-second{
    background: none repeat scroll 0 0 #FFFBD9;
    padding-top: 15px;
    overflow:hidden;
}
.block > h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  color: #0088CC;
}
.region-sidebar-second .views-row{
    padding-bottom: 10px;
}

.node-teaser > h2 > a{
	font-size:20px;
	text-decoration:none;
}
.node-teaser > h2 > a:hover{
	text-decoration:none;
}
/* -------------------- end style for block-----------------------*/

/* -------------------- start style second template-----------------------*/
.header-second-style{
    height: 250px !important;
}
.header-second-style img{
    height: 250px; 
    width:100%;
}
#menu-second-template{
    background-color: white !important;
    height: 58px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
#menu-second-template h2{
    display: none;
}
#menu-second-template .sf-menu > li{
    height: 58px !important;
}
#menu-second-template .sf-menu > li > a{
    height: 39px;
    padding: 18px 12px 0;
}
#menu-second-template .sf-menu > li > a > .sf-sub-indicator{
    top:21px !important;
    right: 2px;
}
#menu-second-template .menu-main-name{
    height: 58px;
    padding: 0 17px !important;
}
#menu-second-template .sf-menu > li > ul{
    top: 50px;
}
#pitch-second-template{
    position: absolute;
    left: 0px;
    top: 140px;
    margin-left: 0px !important;
}

#pitch-second-template ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#pitch-second-template li {
    background: none repeat scroll 0 0 black;
    height: 58px;
    margin-bottom: -1px;
    opacity: 0.6;
    margin-left: 0px;
}
#pitch-second-template a {
    color: white;
    font-size: 34px;
    padding-left: 30px;
    padding-top: 15px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}
#pitch-second-template a:hover, #pitch-second-template a:active {
    color: white;
    background: none repeat scroll 0 0 black;
    text-decoration: none;
    float: left;
}

.params{
    display: none;
}

.second-template-service{
    padding: 30px 10px 10px;
    border: medium none !important;
}
.second-template-service img{
    width: 100%;
    margin-bottom: 20px;
}
/*--------------------------- MAIN CONTENT-------------------------------*/
.icon-home-image {
    background-image: url("../img/visual assets.png");
    background-position: -143px -71px;
    display: inline-block;
    height: 57px;
    opacity: 1;
    width: 40px;
}
#breadcumb-second-template{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
#breadcumb-second-template .image-control-breadcumb{
    float: left;
}
#breadcumb-second-template a{
    padding-right: 5px;
}
#breadcumb-second-template a:hover{text-decoration: none;}
#breadcumb-second-template a, #breadcumb-second-template span{
    padding-top: 25px;
    float: left;
    text-transform: uppercase;
    color: #0088CC;
    font-size: 20px;
}

#main #page-title{
    font-size: 20px;
}
.region-content .content,.region-content{
    width: 100%;
}
#main .region-content, .content{
    font-size: 14px !important;
    float: left;
}
#main .region-content .view-content{
    min-height: 700px;
}
/* -------------------- end style second template-----------------------*/
